
.intro{
    background-color: beige;
}

.head1{
    background-color: burlywood;
}

.head2{
    background-color: aqua;
}

.head3{
    background-color: darkgray;
}

.head4{
    background-color: thistle;
}

.head5{
    background-color: cornsilk;
}

.head6{
    background-color: antiquewhite;
}

.head7{
    background-color: aqua;
}

.head8{
    background-color: aliceblue;
}

.head9{
    background-color: beige;
}

.head10{
    background-color: cadetblue;
}

.head11{
    background-color: cyan;
}

.head12{
    background-color: bisque;
}

.head13{
    background-color: beige;
}

.head14{
    background-color: chartreuse;
}
.head15{
    background-color: beige;
}
.head16{
    background-color: ghostwhite;
}
.body{
    background-color: cyan;
}
.vikram{
    background-image: url("https://qph.cf2.quoracdn.net/main-qimg-1ea34bdca12127b839a1de593447f1c9-lq");
    font-size: large;
    color:white;
}
.Linkdin{
    background: #007bb5;
    color: white;
}
.Linkdin1{
    background: #007bb5;
    color: white;
}
.Linkdin2{
    background: #007bb5;
    color: white;
}